
<mat-list role="list">
  <a style="text-decoration:none;" mat-list-item routerLink="dashboard" role="listitem">Dashboard</a>
  <a style="text-decoration:none;" mat-list-item routerLink="customers" role="listitem">Customers</a>
  <a style="text-decoration:none;" mat-list-item  routerLink="products" role="listitem">Products</a>
  <a style="text-decoration:none;" mat-list-item routerLink="orders" role="listitem">Orders</a>
  <a style="text-decoration:none;" mat-list-item routerLink="" role="listitem">Siteyi Gör</a>


</mat-list>
